*, *:before, *:after {
    box-sizing: border-box;
  }

body { 
    margin: 0;
    height: 100%;
    background-color: white;
    
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: auto;
    color: black;
}
.sm-icons{
    list-style: none;
}

.nav-item {
    padding: 5px;
}

.sm-icons .img-fluid{
    text-decoration: none;
    
}

.sm-icons .img-fluid:hover{
    transition: .6s;
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
   
}

.fa-phone-flip {
    color: black;
}

ul {
    padding: 0;
    margin:0;
}

.carouselcontainer {
    padding: 10px;
}

.col-md-6.bg-light.rounded-3{
    padding: 10px;
}

.bg-black{
    color: black;
    background-color: black;
}