
body { 
    padding-top: 75px; 
}
.navbar{
    width: auto;
}
.sm-icons{
    list-style: none;
}

.nav-item {
    padding: 5px;
}

.sm-icons .img-fluid{
    text-decoration: none;
}

.sm-icons .img-fluid:hover{
    transition: .6s;
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
   
}

.fa-phone-flip {
    color: black;
}

ul {
    padding: 0;
    margin:0;
}

.navlist{
    font-size: 22px;
    gap: 10px;
    padding-right: 20px;
}

.brand-container .img-fluid{
    padding-left: 50px;
    padding-right: 50px;
}