*, *:before, *:after {
    box-sizing: border-box;
  }

html, 
body {
    height: 100%;
}

body { 
    margin: 0 auto;
    font-family: 'Noto Serif TC', serif;
    height: 100%;

}
.newcont{
  height: 100%;
}
.container1 {
    display: block;
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  
  .ontop{
    font-style: bold;
    margin: 0 auto;
    text-align: center;
    position: fixed; /* Position the background text */
    bottom: 10px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.65); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 80%;
    padding: 20px; /* Some padding */
  }

  .pic {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 60s infinite;
    animation: fade 60s infinite;
  }
  #pic1 {
    animation-delay: 0s;
  }

  @media (max-width: 480px) {
    #pic1 {
        background-image: url('images/fav1-mobile.jpg');
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    #pic1 {
        background-image: url('images/fav1-tablet.jpg');
    }
  }

  @media (min-width: 1025px) {
    #pic1 {
	    background-image: url('images/fav1.jpeg');
   }
  }

  #pic2 {
    background-image: url('images/fav2.jpeg');
    animation-delay: 10s;
  }

  @media (max-width: 480px) {
    #pic2 {
        background-image: url('images/fav2-mobile.jpg');
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    #pic2 {
        background-image: url('images/fav2-tablet.jpg');
    }
  }

  @media (min-width: 1025px) {
    #pic2 {
	    background-image: url('images/fav2.jpeg');
   }
  }

  #pic3 {
    animation-delay: 20s;
  }

  @media (max-width: 480px) {
    #pic3 {
        background-image: url('images/fav3-mobile.jpg');
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    #pic3 {
        background-image: url('images/fav3-tablet.jpg');
    }
  }

  @media (min-width: 1025px) {
    #pic3 {
	    background-image: url('images/fav3.jpeg');
   }
  }

  #pic4 {
    animation-delay: 30s;
  }

  @media (max-width: 480px) {
    #pic4 {
        background-image: url('images/fav4-mobile.jpg');
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    #pic4 {
        background-image: url('images/fav4-tablet.jpg');
    }
  }

  @media (min-width: 1025px) {
    #pic4 {
	    background-image: url('images/fav4.jpeg');
   }
  }

  #pic5 {
    background-image: url('images/fav5.jpeg');
    animation-delay: 40s;
  }
  
  @media (max-width: 480px) {
    #pic5 {
        background-image: url('images/fav5-mobile.jpg');
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    #pic5 {
        background-image: url('images/fav5-tablet.jpg');
    }
  }

  @media (min-width: 1025px) {
    #pic5 {
	    background-image: url('images/fav5.jpeg');
   }
  }

  #pic6 {
    background-image: url('images/fav6.jpeg');
    animation-delay: 50s;
  }

  @media (max-width: 480px) {
    #pic6 {
        background-image: url('images/fav6-mobile.jpg');
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    #pic6 {
        background-image: url('images/fav6-tablet.jpg');
    }
  }

  @media (min-width: 1025px) {
    #pic6 {
	    background-image: url('images/fav6.jpeg');
   }
  }

  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    13.3% {
      opacity: 1;
    }
    16.6% {
      opacity: 0;
    }
    97.7% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    13.3% {
      opacity: 1;
    }
    16.6% {
      opacity: 0;
    }
    97.7% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  
.navbar{
    width: auto;
    color: black;
}
.sm-icons{
    list-style: none;
}

.nav-item {
    padding: 5px;
}

.sm-icons .img-fluid{
    text-decoration: none;
    
}

.sm-icons .img-fluid:hover{
    transition: .6s;
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
   
}

.fa-phone-flip {
    color: black;
}

ul {
    padding: 0;
    margin:0;
}

.col-md-6.bg-light.rounded-3{
    padding: 10px;
}

.bg-black{
    color: black;
    background-color: black;
}

